<a href="https://colab.research.google.com/github/Rubens-Santos/Python/blob/master/Calculo_de_Rentabilidade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><b>APP RENDA FIXA</b></h1></center>

<hr>

<h1><b>Importando as Bibliotecas</b></h1>

In [9]:
import numpy as pd
import pandas as pd

<hr>

<h3><i>Obtendo os Dados Solicitados.</i></h3>

In [10]:
df = pd.read_csv('http://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202005.csv', sep=';')

In [12]:
df2 = pd.read_csv('http://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202006.csv', sep=';')

<hr>

<h3><b>Exibindo os Dados em um DataFrame</b></h3>

<h4><i>Dados do Mês de Maio</i></h4>

In [13]:
dadosmaio = df.loc[df['CNPJ_FUNDO'] == '28.504.479/0001-12'] #Criando um novo Dataframe com os Dados do CNPJ solicitado

In [14]:
dadosmaio #Exibindo o DataFrame

                CNPJ_FUNDO   DT_COMPTC  ...  RESG_DIA  NR_COTST
239983  28.504.479/0001-12  2020-05-04  ...       0.0         2
239984  28.504.479/0001-12  2020-05-05  ...       0.0         2
239985  28.504.479/0001-12  2020-05-06  ...       0.0         2
239986  28.504.479/0001-12  2020-05-07  ...       0.0         2
239987  28.504.479/0001-12  2020-05-08  ...       0.0         2
239988  28.504.479/0001-12  2020-05-11  ...       0.0         2
239989  28.504.479/0001-12  2020-05-12  ...       0.0         2
239990  28.504.479/0001-12  2020-05-13  ...       0.0         2
239991  28.504.479/0001-12  2020-05-14  ...       0.0         2
239992  28.504.479/0001-12  2020-05-15  ...       0.0         2
239993  28.504.479/0001-12  2020-05-18  ...  205600.0         2
239994  28.504.479/0001-12  2020-05-19  ...       0.0         2
239995  28.504.479/0001-12  2020-05-20  ...       0.0         2
239996  28.504.479/0001-12  2020-05-21  ...       0.0         2
239997  28.504.479/0001-12  2020-05-22  ...       0.0         2
239998  28.504.479/0001-12  2020-05-25  ...       0.0         2
239999  28.504.479/0001-12  2020-05-26  ...       0.0         2
240000  28.504.479/0001-12  2020-05-27  ...       0.0         2
240001  28.504.479/0001-12  2020-05-28  ...       0.0         2
240002  28.504.479/0001-12  2020-05-29  ...       0.0         2

[20 rows x 8 columns]

<hr>

<h4><i>Dados do Mês de Junho</i></h4>

In [16]:
dadosjunho = df2.loc[df2['CNPJ_FUNDO'] == '28.504.479/0001-12'] #Criando um novo Dataframe com os Dados do CNPJ solicitado

In [17]:
dadosjunho #Exibindo o DataFrame

                CNPJ_FUNDO   DT_COMPTC  ...  RESG_DIA  NR_COTST
250946  28.504.479/0001-12  2020-06-01  ...       0.0         2
250947  28.504.479/0001-12  2020-06-02  ...       0.0         2
250948  28.504.479/0001-12  2020-06-03  ...       0.0         2
250949  28.504.479/0001-12  2020-06-04  ...       0.0         2
250950  28.504.479/0001-12  2020-06-05  ...       0.0         2
250951  28.504.479/0001-12  2020-06-08  ...   28100.0         2
250952  28.504.479/0001-12  2020-06-09  ...       0.0         2
250953  28.504.479/0001-12  2020-06-10  ...       0.0         2
250954  28.504.479/0001-12  2020-06-12  ...       0.0         2
250955  28.504.479/0001-12  2020-06-15  ...       0.0         2
250956  28.504.479/0001-12  2020-06-16  ...       0.0         2
250957  28.504.479/0001-12  2020-06-17  ...  207800.0         2
250958  28.504.479/0001-12  2020-06-18  ...       0.0         2
250959  28.504.479/0001-12  2020-06-19  ...       0.0         2
250960  28.504.479/0001-12  2020-06-22  ...       0.0         2
250961  28.504.479/0001-12  2020-06-23  ...       0.0         2
250962  28.504.479/0001-12  2020-06-24  ...       0.0         2
250963  28.504.479/0001-12  2020-06-25  ...       0.0         2
250964  28.504.479/0001-12  2020-06-26  ...       0.0         2
250965  28.504.479/0001-12  2020-06-29  ...       0.0         2
250966  28.504.479/0001-12  2020-06-30  ...       0.0         2

[21 rows x 8 columns]

<hr>

<h3>Calculando a rentabilidade</h3>

In [18]:
calc = ((dadosjunho['VL_QUOTA'][250966] / dadosmaio['VL_QUOTA'][240002])-1)*100 #calculando a rentabilidade

In [19]:
print("Rentabilidade Absoluta: {:.2f}".format(calc)) #Exibindo o resultado para o usuario

Rentabilidade Absoluta: 6.56